{% extends 'base.html' %}


{% block 'content' %}
    {% if user.is_manager %}
        <a href= "{{ object_list.first.get_create_url }}" class='link-btn'>New</a>
    {% endif %}
    <ul>
        {% for product in object_list %}
            <a href = "{{ product.get_absolute_url }}"><li>{{ product }}</li></a>
            {% if user.is_manager is True %}<a href= "{{ product.get_delete_url }}">X</a>{% endif %}
        {% empty %}
            <li>No products yet.</li>
        {% endfor %}
    </ul>
{% endblock %}